@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-drf6lo');
	src:url('fonts/icomoon.eot?#iefix-drf6lo') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-drf6lo') format('truetype'),
		url('fonts/icomoon.woff?-drf6lo') format('woff'),
		url('fonts/icomoon.svg?-drf6lo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-random:before {
	content: "\e604";
}
.icon-play:before {
	content: "\e600";
}
.icon-following:before {
	content: "\e601";
}
.icon-star:before {
	content: "\e602";
}
.icon-latest:before {
	content: "\e603";
}
.icon-popular:before {
	content: "\e605";
}
.icon-search:before {
	content: "\e606";
}
.icon-banana:before {
	content: "\e607";
}
.icon-shit:before {
	content: "\e608";
}
.icon-home:before {
	content: "\e609";
}
.icon-faq:before {
	content: "\e60a";
}
.icon-banana_count:before {
	content: "\e60b";
}
.icon-shit_count:before {
	content: "\e60c";
}
.icon-comments:before {
	content: "\e60d";
}
.icon-gorilla_inv:before {
	content: "\e60e";
}
.icon-gorilla:before {
	content: "\e60f";
}
.icon-delete:before {
	content: "\e610";
}
.icon-flag:before {
	content: "\e611";
}
.icon-add_comment:before {
	content: "\e612";
}
.icon-view_count:before {
	content: "\e613";
}
.icon-share:before {
	content: "\e614";
}
.icon-options:before {
	content: "\e615";
}
.icon-globe:before {
	content: "\e617";
}
.icon-main_feed:before {
	content: "\e618";
}
.icon-missions:before {
	content: "\e619";
}
.icon-camera:before {
	content: "\e61a";
}
.icon-tv:before {
	content: "\e61b";
}
.icon-profile:before {
	content: "\e61c";
}
.icon-profile_guest:before {
	content: "\e61d";
}
.icon-arrow_back:before {
	content: "\e61e";
}
.icon-arrow_down:before {
	content: "\e61f";
}
.icon-arrow_forward:before {
	content: "\e620";
}
